# directories
.cache/
uni/
Downloads/
.ssh/
Downloads/
\\\\/
git/
lib/
vimwiki/
.mozilla/
.config/nvim/plugged/
.local/share/newsboat/
.local/share/nvim/
.local/share/recently-used.xbel
.local/share/xorg/
.local/share/zathura/
.config/pulse/
.config/mutt/
.gnupg/
.mail/
.msmtprc
.offlineimap/
.offlineimaprc
.config/dconf/
.local/bin/
.local/share/vifm/
Music/

# files
.python_history
.bash_history
.bash_logout
.esd_auth
*/error.log
*/recently-used.xbel
*/log
.Xauthority
.lesshst
.config/calcurse/apts
.config/calcurse/todo
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/ncmpcpp/error.log
.config/vifm/vifm-help.txt
.config/vifm/vifminfo
